body {
    margin: 1%;
    padding: 1%;
    font-size: 16px;
}
header {
    background-color: #78895b;
    background-image: url("../images/flywheel.jpg"); width: 100%;
    padding: 5px;
    background-size: 100%;
    height: 175px;
    
  }
nav {
    text-align: center;
    padding: 0%;
    height: 75px;
}
nav a {
    background-color: rgba(240, 248, 255, .4);
    color: #20221d;
    display: inline-block;
    text-decoration: none;
    margin-left: 40px;
    margin-right: 40px;
    padding: 12px;
    width: 100px;
    border-radius: 3px;
    font-size: 17px;
}
.active {
    background-color: #f0f8ff;
}
nav a:hover {
    background-color:  rgba(255, 204, 0, 1);
 }
h2 {
    color:#b31c11;
    text-transform: uppercase;
    font-size: 20px;
}
h1 {
    text-align: center;
    color: #f0f8ff;
    text-transform: uppercase;
    font-size: 30px;
    margin-bottom: 50px;
}

.left {
    float: left;
    width: 25%;
    height: 100vh;
    background-color: #78895b;
    overflow: auto;

}
.right {
    float: right;
    width: 74%;
}
aside img {
    box-sizing: border-box;
    width:80%;
    margin: 10% 10% 0% 10%;
    border-radius: 10px;
    border: #20221d solid 2px;
}
table{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 12px;
    font-weight: 100;
    line-height: 12px;
    width: 85%;
    margin: 0 auto;
    margin-top: 6%;
    border-radius:5px 5px 0 0 ;
}

th:first-child{
    text-align: left;
}
tr{
    height: 2em;
    color: rgb(32, 34, 29, .75);
}
tr:hover {
    color: rgb(32, 34, 29, 1);
}

tr:first-child{
    -webkit-background: linear-gradient(#e0eec9,#78895b);
    -moz-background: linear-gradient(#e0eec9,#78895b);
    -ms-background: linear-gradient(#e0eec9,#78895b);
    -o-background: linear-gradient(#e0eec9,#78895b);    
    background: linear-gradient(#e0eec9,#78895b);
    height:3.5em ;
}
th{
    border: #b31c11 solid 1px;
    border-radius: 5px 5px 0 0 ;
    border-bottom: #b31c11 solid 3px;
    color: #f0f8ff;
    text-shadow: 3px 4px 7px rgba(81,67,21,0.8);
}

td{
    text-align: center;
    padding: 1%;
    background-color: #dbedbb;
    border-radius: 2px;
}
tr>td:first-child{
    text-align: left;
}
